/* ---------------------- */
/* Fade-In & Fade-Out Animations */
/* ---------------------- */

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
        visibility: hidden;
    }
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#mainContainer {
    animation: slideIn 0.8s ease-out;
}

@keyframes fadeInName {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}