/* ---------------------- */
/* Card Component Styles  */
/* ---------------------- */

.card,
.skill-item {
    background: var(--card-bg);
    border-radius: 0.25rem;
    padding: 1.25rem;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-item {
    padding: 0.75rem !important;
}

.card:hover {
    transform: scale(1.02);
    background: var(--hover-bg);
}

.expanded-box,
.skill-item:hover {
    background: var(--hover-bg);
}

.tag-pill {
    background-color: color-mix(in srgb, var(--accent-color) 20%, transparent 80%);
    color: color-mix(in srgb, var(--accent-color) 50%, white 50%);
}