/* ---------------------- */
/* Info Button Component  */
/* ---------------------- */

#infoButton i {
    font-size: 1.2rem;
}

/* Info Popup */
#infoPopup {
    position: fixed;
    bottom: 175px;
    right: 20px;
    background: transparent;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(10px);
    color: var(--text-color);
    font-size: 0.5rem;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 15px;
    box-shadow: 0px 5px 15px var(--accent-color);
    transition: all 0.3s ease-in-out;
    opacity: 0;
    transform: translateY(15px);
    visibility: hidden;
    z-index: 999;
}

body.light #infoPopup {
    background-color: #e3f2fd;
    color: #000000;
}

#infoPopup.show {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

#infoPopup p {
    margin: 8px 0;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 0.95rem;
    font-weight: 500;
}

#infoPopup i {
    color: var(--accent-color);
    font-size: 1rem;
}

.date-text,
.geek-text {
    color: #ffcc00;
    font-size: 0.9rem;
    font-weight: normal;
}

#languagesChart {
    /*width: 100% !important;
    max-width: 400px;
    height: 250px !important;*/
    display: block;
    margin: auto;
    font-weight: bold;
    color: var(--accent-color) !important;
}