/* ---------------------- */
/* Social Icons Component */
/* ---------------------- */

.social-icons {
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.social-icons a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    font-size: 28px;
    transition: transform 0.3s, color 0.3s;
}

.social-icons a:hover {
    transform: scale(1.5);
    color: var(--accent-color);
}